# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown
*.txt text
LICENSE text

# YAML files
*.yaml text
*.yml text

# Config files
.env* text
.git* text
